/* evita que el contenido se “mueva” raro al abrir */
.modal-backdrop {
  z-index: 1040;
}

.modal {
  z-index: 1050;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  border-bottom: 1px solid rgba(255,255,255,0.08);
}