<div class="auth-wrap">
  <div class="auth-card">
    <p-card>
      <ng-template pTemplate="header">
        <div class="auth-header">
          <div class="auth-title">Invest Hub</div>
          <div class="auth-subtitle">Accede a tu dashboard</div>
        </div>
      </ng-template>

      <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">
        <div class="field">
          <label class="field-label" for="email">Email</label>
          <span class="p-input-icon-left w-full">
            <i class="pi pi-envelope"></i>
            <input
              id="email"
              pInputText
              class="w-full"
              type="email"
              formControlName="email"
              placeholder="email@ejemplo.com"
              autocomplete="email"
            />
          </span>
        </div>

        <div class="field">
          <label class="field-label" for="password">Password</label>
          <p-password
            inputId="password"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            styleClass="w-full"
            inputStyleClass="w-full"
            placeholder="Tu contraseña"
            autocomplete="current-password"
          ></p-password>
        </div>
 

        <button
          pButton
          type="submit"
          label="Entrar"
          icon="pi pi-sign-in"
          class="w-full"
          [loading]="loading"
          [disabled]="form.invalid || loading"
        ></button>

        <div class="auth-footer">
          <span class="opacity-70">¿No tienes cuenta?</span>
          <a routerLink="/register">Crear cuenta</a>
        </div>
      </form>
    </p-card>
  </div>
</div>